@import './../global.css';
/* reset */
input {
  all: unset;
}

.LabelRoot {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: var(--accents-4);
}

input::placeholder {
  color: var(--accents-3);
}

.Input {
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  padding: 0 10px;
  height: 35px;
  font-size: 15px;
  line-height: 1;
  color: var(--accents-3);
  /* box-shadow Color === border-Gray-300 Tailwind */
  box-shadow: 00 0 0 1px rgb(209 213 219); 
  
  transition: var(--transition-time);
}

.Input:focus {
  box-shadow: 0 0 0 1px var(--accents-7);
}