@import '/src/global.css';

.ProgressRoot {
  position: relative;
  background: var(--accents-2);
  overflow: hidden;
  border-radius: 15px;
  width: 300px;
  height: 25px;
  transform: translateZ(0);
  animation: 2s loading  ;
}

.ProgressRoot--loading{
  opacity: 0.20;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

.ProgressIndicator {
  background-color: var(--accents-6) ;
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}
