@import './../global.css';
  
.title {
  text-align: center;
  max-width: 290px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  background: black;
  background: linear-gradient(169deg, rgb(37, 37, 37) 0%, rgb(150, 150, 150) 100%);
  background-clip: text;
  color: transparent;
  transition: color 2s;
}

.title--loading{ 
  color: #a8a8a8;
}